.App {
  text-align: center;
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  display: flex;
  justify-content: space-around;
}

.main-form {
  width: 45%;
  background-color: #A8B4C9;
  display: inline-block;
  border-radius: 20px;
  margin: 20px;
}

.main-form--section-title{
  font-size: 1.25rem;
  margin: 30px auto 10px auto;
}

.delete-btn{
  width: 90%;
  border: none;
  background-color: #984447;
  border: 2px solid #8A3E41;
  color: whitesmoke;
  padding: 4px;
  border-radius: 7px;
  margin: 3px;
}

.add-btn{
  width: 90%;
  border: none;
  background-color: #476C9B;
  border: 2px solid #468C98;
  color: whitesmoke;
  padding: 4px;
  border-radius: 7px;
}

.input {
  display: block;
  margin: 5px auto;
  width: 90%;
  padding: 2px 0;
}


/* CV PREVIEW */
.cv-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  border: 1px solid #3C3F4A;
  width: 49%;
}

.top-bar {
  width: 100%;
  height: 30px;
  background-color: #3C3F4A;
}

.cv-viewer--subtitle{
  margin: 10px 20px 10px 0;
  font-size: 1.2rem;
}

.paragraph {
  margin: 6px 0;
}

.cv-viewer--section-title {
  display: flex;
  align-items: center;
}

.para-exp {
  display: inline;
  margin-right: 5%;
}

.header-name {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin: 10px auto;
}

.header-title {
  font-size: 1.8rem;
  margin: 10px auto;
  font-weight: 300;
  text-align: center;
}

.divider {
  border: none;
  height: 3px;
  background-color: #3C3F4A;
  width: 50px;
  margin: 0;
  flex-grow: 2;
}

.header-divider {
  border: none;
  height: 4px;
  background-color: #3C3F4A;
  margin: 17px;
}

.header-section {
  height: 100px;
  width: 100%;
  margin-bottom: 60px;
}


/* About me */
.aboutme-section {
  width: 65%;
  box-sizing: border-box;
  padding: 15px;
}

/* Contact me */
.contactme-section {
  width: 35%;
  box-sizing: border-box;
  padding: 15px;
}

/* education */
.education-section {
  width: 65%;
  box-sizing: border-box;
  padding: 15px;
}

/* abilities */
.abilities-section {
  width: 35%;
  box-sizing: border-box;
  padding: 15px;
}

/* experience */
.experience-section {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
